@model RoomDetails
@{
}

<div class="container" dir="rtl">
    <div class="alert-success text-center text-dark "> تعديل تفاصيل الغرفة </div>
    <form asp-controller="Dashboard" asp-action="UpdateRoomsD" method="post">
        <input type="hidden" asp-for="@Model.Id" />
        <div class="row">
            <div class="col-sm-3">
                <label for="Images1" class="p-2">الصور الاولى</label>
                <input type="text" id="Images1" name="Images1" class="form-control form-control-sm" asp-for="@Model.Images1" />
            </div>
            <div class="col-sm-3">
                <label for="Images2" class="p-2">  الصور الثانية </label>
                <input type="text" id="Images2" name="Images2" class="form-control form-control-sm" asp-for="@Model.Images2" />


            </div>
            <div class="col-sm-3">
                <label for="Images3" class="p-2">  الصور الثالثة</label>
                <input type="text" id="Images3" name="Images3" class="form-control form-control-sm" asp-for="@Model.Images3" />


            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <label for="Futures" class="p-2">المميزات </label>
                <input type="text" id="Futures" name="Futures" class="form-control form-control-sm" asp-for="@Model.Futures" />


            </div>
            <div class="col-sm-6">
                <label for="Food" class="p-2"> الطعام </label>
                <input type="text" id="Food" name="Food" class="form-control form-control-sm" asp-for="@Model.Food" />


            </div>
        </div>


        <div class="row mt-3">
            <div class="col text-center">

                <button class="btn btn-success" type="submit">حفظ</button>


            </div>

        </div>
    </form>

</div>

