@model Rooms
@{
}

<div class="container" dir="rtl">
    <div class="alert-success text-center text-dark "> تعديل بيانات الغرفة </div>
    <form asp-controller="Dashboard" asp-action="UpdateRooms" method="post">
        <input type="hidden" asp-for="@Model.Id" />
        <div class="row">
            <div class="col">
                <label for="RoomNo" class="p-2">رقم الغرفة</label>
                <input type="text" id="RoomNo" name="RoomNo" class="form-control form-control-sm" asp-for="@Model.RoomNo" />


            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <label for="Price" class="p-2"> سعر الغرفة </label>
                <input type="text" id="Price" name="Price" class="form-control form-control-sm" asp-for="@Model.Price" />


            </div>
            <div class="col-sm-6">
                <label for="Type" class="p-2"> نوع الغرفة</label>
                <input type="text" id="Type" name="Type" class="form-control form-control-sm" asp-for="@Model.Type" />


            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="Images" class="p-2"> الصورة </label>
                <input type="text" id="Images" name="Images" class="form-control form-control-sm" asp-for="@Model.Images" />
            </div>

        </div>

        <div class="row mt-3">
            <div class="col text-center">

                <button class="btn btn-success" type="submit">حفظ</button>


            </div>

        </div>
    </form>

</div>

